.container {
    text-align: center;
    background-color: #f5f5f5;
}
.heading {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1%

}
.footer {
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}